{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-header">
      <h1><!-- Shop icon by Icons8 -->
<img class="icon icons8-Shop" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAB2klEQVRoQ+2Y4TUEMRSFv60AFaADKkAFSkAHVIAKUAE60AEqoANUQAec62zO2YlMJtmZZLIj82dnJ5Pk3XfffS9vZkzkmk0EBxVIaUxWRlaBke/SjGyxpxFNrtCaHJBS9WMcHcxIBZJYY9GMJLan9/Le0NoC3npvkWeBDeDLbGXrYB94BJ4B3S9eTkrnL+QcewL2gANA97+XDeQCOAdugNNCgdwBR8AlIHudQMxLZ8B1oUDk4CvgHjhuA+KkbYTw0ZZt4eoMfzu0JHQJfhd4LZSRHeAFeAe22xjJKVqf16PHbEYmA0R5eQ1o5OjCNLIOfNrJymbkATgETgBlsBLriDLVrV3rbCDmJQldKdhkMeVrUyD1TP9VNFWYco5J6CrYYqXh7Jh+5GNOz6bjBJJ77E8x9wGRcTJavwozUyBVkMTcWGPGkbUfcUTUKI+i+5FJdohDfZBYdE7Mmq55S2kkZlNfvBUDZNlwc8W17zhknBE8z5d+O+mMkHqwQQGniV5iD/GeD1cF4uhkKyNdTU6IVGpo1dBq+XpRs5anTQ5xTrC2/m1BDMlQsWct37EnGSMrD6QvANf8UTRSgXg8kI2RFCwMuWZwhzjkpinW6gSSYtPkay7buiY3LHaDH3Yo6zPn1lqIAAAAAElFTkSuQmCC" width="50" height="50"> Addresses</h1>
    </div>

    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url "profile:details" %}">{% trans "Addresses" %}</a></li>
      <li role="presentation"><a href="{% url 'profile:orders' %}">{% trans "Orders" %}</a></li>
      <li role="presentation"><a href="{% url 'registration:request_email_change' %}">{% trans 'Change your email' %}</a></li>
      <li role="presentation"><a href="{% url 'registration:change_password' %}">{% trans 'Change your password' %}</a></li>
        {% if user.is_staff %}
        <li role="presentation" class="pull-right"><a href="{% url "dashboard:index" %}">{% trans "Admin" %}</a></li> 
        {% endif %}
    </ul>

    <h3>
        {% trans "Your address book" %}

        <div class="pull-right">
            <a href="{% url 'profile:address-create' %}" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Add new address" %}</a>
        </div>
    </h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">{% trans "Nickname" %}</th>
                <th class="col-sm-3">{% trans "Full Name" %}</th>
                <th class="col-sm-2">{% trans "Billing" %}</th>
                <th class="col-sm-2">{% trans "Shipping" %}</th>
                <th class="col-sm-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
            <tr>
                <th class="col-sm-2">
                    {{ address }}
                </th>
                <td class="col-sm-3">
                    {{ address }}
                </td>
                <td class="col-sm-2">
                    {% if user.default_billing_address == address %}
                    <span class="label label-default">{% trans "Default" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="billing" %}" class="form-inline form-horizontal">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-2">
                    {% if user.default_shipping_address == address %}
                    <span class="label label-default">{% trans "Default" %}</span>
                    {% else %}
                    <form method="post" action="{% url "profile:address-make-default" pk=address.pk purpose="shipping" %}" class="form-inline form-horizontal">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">{% trans "Make default" %}</button>
                    </form>
                    {% endif %}
                </td>
                <td class="col-sm-3">
                    <a href="{% url 'profile:address-edit' pk=address.pk %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i> {% trans "Edit" %}</a>
                    <a href="{% url 'profile:address-delete' pk=address.pk %}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

