{% extends "base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}

{% block title %}{% trans "Your orders" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:orders' %}">{% trans "Your orders" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-header">
      <h1><!-- Purchase Order icon by Icons8 -->
<img class="icon icons8-Purchase-Order" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAA2UlEQVRoQ+2aSw6AIAxE5f6H1o0mEAkBp6Ooz51ix3Ze+SxMy/laK89mfJTypIqbfeBzhdSKnIHMYXQ3EQoxY4OI2eBheYgMW2YOgIjZ4GH5UCLu3b+1h1HIMHtzQCgRc65NeQp50v3atyECEZMDtJbJ2MuyELlsnSkQIq1N6RjLT6sRJ+PHTr+vLcTU/l2yzJEum258CSKsWkK73bb8CjnKocwR2cJgAYiwagktxaqVm1edTIK70aFM9mhHVT2IqA5Gx0Mk2lFV779EVOfc8d1/B7kTUfWLQjZfZG4z2w+qTgAAAABJRU5ErkJggg==" width="50" height="50"> Orders</h1>
    </div>

    <ul class="nav nav-pills">
      <li role="presentation"><a href="{% url "profile:details" %}">{% trans "Addresses" %}</a></li>
      <li role="presentation"  class="active"><a href="{% url 'profile:orders' %}">{% trans "Orders" %}</a></li>
      <li role="presentation"><a href="{% url 'registration:request_email_change' %}">{% trans 'Change your email' %}</a></li>
      <li role="presentation"><a href="{% url 'registration:change_password' %}">{% trans 'Change your password' %}</a></li>
        {% if user.is_staff %}
        <li role="presentation" class="pull-right"><a href="{% url "dashboard:index" %}">{% trans "Admin" %}</a></li> 
        {% endif %}
    </ul>

    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">
                    {% trans "Order #" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Date" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Price" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Status" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Last status change" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td class="col-sm-2">
                        <a href="{{ order.get_absolute_url }}">{{ order }}</a>
                    </td>
                    <td class="col-sm-2">
                        {{ order.created }}
                    </td>
                    <td class="col-sm-2">
                        {% gross order.get_total %}
                    </td>
                    <td class="col-sm-2">
                        <span class="label label-default">{{ order.get_status_display }}</span>
                    </td>
                    <td class="col-sm-2">
                        {{ order.last_status_change }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

