<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}

<html lang="en" class="no-js">
    <head>
        <title>{% block title %}PROJECT GALLANT{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% trans "PROJECT GALLANT" %}">
        {% endblock meta %}

        <script src="{% static "js/storefront_head.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/storefront.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        {% block stylesheet %}{% endblock stylesheet %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">

        {% block jumbo %}
        <div class="jumbotron hero-unit">
            <div class="container">
                <h1><span class="white_bg">PROJECT GALLANT</span></h1>
                <p><span class="white_bg">Affordable quality flowers. Sourced from California. Created in Sunnyvale. Hand delivered through Silicon Valley. By co-op couriers. With electric bikes and cars. Dispatched by robots. Orders via SMS. On demand.</span></p>
            </div>
        </div>
        {% endblock %}

        {% block header %}
            <header class="navbar navbar-default navbar navbar-static-top" role="navigation">
                <nav class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Project Gallant</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <!-- {% for category in categories %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">
                                        {{ category }}
                                    </a>
                                </li>
                            {% endfor %} -->
                            <!-- <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="{% url "cart:index" %}"><i class="fa fa-shopping-cart"></i> {% trans "Cart" %} {% if request.cart %}<span class="badge">{{ request.cart.count }}</span>{% endif %} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li><a href="{% url "cart:index" %}">{% trans "View cart contents" %}</a></li>
                                    <li class="divider"></li>
                                    <ol>
                                    {% for item in request.cart %}
                                    <li>
                                        <a href="{% url 'product:details' slug=item.data.product_slug product_id=item.data.product_id %}">
                                            {{ item.product }}{% if item.quantity != 1 %} <em>×{{ item.quantity }}</em>{% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    </ol>
                                </ul>
                            </li> -->
                            <li>
                                <a href="{% url "cart:index" %}"><i class="fa fa-shopping-cart"></i> {% trans "Shopping cart" %} {% if request.cart %}<span class="badge">{{ request.cart.count }}</span>{% endif %}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="."><i class="glyphicon glyphicon-user"></i> {{ user }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "profile:details" %}">{% trans "Your profile" %}</a></li>
                                    <li><a href="{% url "profile:orders" %}">{% trans "Your orders" %}</a></li>
                                    {% if user.is_staff %}
                                        <li class="divider"></li>
                                        <li><a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{% url "registration:logout" %}">{% trans "Log out" %}</a></li>
                                  </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url "registration:login" %}">Log in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}

        {% if messages %}
        {% block msg_block %}
        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        {% endif %}

        <div class="container">
            {% block outercontent %}
            {% block content %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <img src="{% static "images/flower_icon1.png" %}">
                    <h4>Choose Product</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static "images/flower_icon2.png" %}">
                    <h4>Choose Delivery</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static "images/flower_icon3.png" %}">
                    <h4>Get Kudos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore.</p>
                </div>   
            </div>

            <div class="row"><div class="col-lg-12"><hr class="home"></div></div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bouquets and Reasons</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {% include "category/_items.html" %}
                    </div>
                </div>
            </div>

            <div class="row"><div class="col-lg-12"><hr class="home"></div></div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Delivery Options</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div >
                        <iframe width="100%" height="500px" frameborder="0" src="https://a.tiles.mapbox.com/v4/cowgirlbikecourier.ijmkkl8m/attribution,zoompan.html?access_token=pk.eyJ1IjoiY293Z2lybGJpa2Vjb3VyaWVyIiwiYSI6IjE2ZnNQUm8ifQ.0BhPMB9cmDBWJ7p9ecIe4Q"></iframe>
                    </div>
                </div>
            </div>

            <div class="row"><div class="col-lg-12"><hr class="home"></div></div>

            {% endblock content %}
            {% endblock outercontent %}

            {% block outerbreadcrumb %}
            {% endblock outerbreadcrumb %}
        </div>

        {% block footer %}
            <footer>
                <div class="footer">
                   <div class="container narrow row-fluid">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2></h2>
                            </div>
                        </div>
                   </div>
                </div>
            </footer>
        {% endblock %}

        {% block footer_scripts %}
            <script src="{% static "js/storefront.js" %}"></script>
        {% endblock footer_scripts %}
    </body>
</html>
