{% extends "checkout/address.html" %}

{% block stylesheet %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/css/radio.css">{% endblock %}

{% load as_horizontal_form from bootstrap %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices_i18n %}
{% load i18n %}

{% block use_this_address %}
    <button type="submit" class="btn {% if entry.is_selected %}btn-primary{% else %}btn-default{% endif %} btn-lg col-sm-12">{% trans "Ship to this address" %}</button>
{% endblock %}

{% block additional_message %}
    {% if not user.is_authenticated %}
        <p class="alert alert-info">
            {% trans "Already have an account?" %}
            <a href="{% url "registration:login" %}?next={% url "checkout:details" step="billing-address" %}">{% trans "Log in" %}</a>
        </p>
    {% endif %}
{% endblock %}

{% block fields %}
<!--     {{ delivery_time_form }} -->
<label for="id_delivery_time_0">Delivery time:</label>

<ul id="id_delivery_time">
{% for choice in delivery_time_form.delivery_time %}
    <li>
        <label for="{{choice.id_for_label}}">
            {{ choice.tag }}
            <i></i> <span>{{ choice.choice_label }}</span>
        </label>
    </li>
{% endfor %}
</ul>

{% endblock fields %}

{% block form_submit %}
    <button type="submit" class="btn btn-primary">
        {% trans "Deliver at this time" %}
    </button>
{% endblock %}