{% extends "checkout/details.html" %}
{% load gross from prices_i18n %}
{% load tax from prices_i18n %}
{% load i18n %}
{% load staticfiles %}

{% block forms %}
    <div class="row">
        {% if checkout.is_shipping_required %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Shipping address" %}
                </div>
                <div class="panel-body">
                    {% if checkout.shipping_address %}
                        <address>{% include "userprofile/snippets/address-details.html" with address=checkout.shipping_address %}</address>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ checkout.shipping.get_absolute_url }}">{% trans "Change shipping details" %}</a></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if checkout.is_delivery_required %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Delivery time" %}
                </div>
                <div class="panel-body">
                    {% if checkout.delivery_address %}
                        <address>{% include "userprofile/snippets/address-details.html" with address=checkout.delivery_address %}</address>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ checkout.delivery.get_absolute_url }}">{% trans "Change delivery time" %}</a></p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if checkout.is_delivery_required %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Delivery address" %}
                </div>
                <div class="panel-body">
                    {% if checkout.delivery_address %}
                        <address>{% include "userprofile/snippets/address-details.html" with address=checkout.delivery_address %}</address>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ checkout.delivery.get_absolute_url }}">{% trans "Change delivery details" %}</a></p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Billing address" %}
                </div>
                <div class="panel-body">
                    {% if checkout.billing_address %}
                        <address>{% include "userprofile/snippets/address-details.html" with address=checkout.billing_address %}</address>
                    {% else %}
                        <p class="text-danger">{% trans "No address given yet." %}</p>
                    {% endif %}
                    <p><a href="{{ checkout.billing.get_absolute_url }}">{% trans "Change billing details" %}</a></p>
                </div>
            </div>
        </div>
    </div><!-- preflight info -->

    {% for shipping, shipping_cost, total_with_shipping in checkout.get_shippings %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for item in shipping %}
                    <div class="row">
                        <div class="col-xs-2"><img class="img-responsive" src=""></div>
                        <div class="col-xs-4"><h4 class="product-name"><strong>{{ item.product }}</strong></h4><h4><small>{{ item.description }}</small></h4></div>
                        <div class="col-xs-3 text-right"><h6>{% gross item.get_price_per_item %} {% if item.quantity != 1 %} <span class="text-muted">x</span> {{ item.quantity }}{% endif %}</h6></div>
                        <div class="col-xs-3 text-right"><h6><strong>{% gross item.get_total %}</strong></h6></div>
                    </div>
                {% endfor %}
                <hr>
            </div>
            <div class="panel-footer">
                <div class="row text-center">
                {# with total=checkout.get_total #}
                    <div class="col-xs-9">
                        {% if total.tax %}
                            ({% blocktrans with tax=total.tax|floatformat:2 currency=total.currency %}includes {{ tax }} <span class="currency">{{ currency }}</span> tax{% endblocktrans %})
                        {% endif %}
                        <h4 class="text-right">{% trans "Total" %} <strong>{% gross total_with_shipping %}</strong></h4>
                    </div>
                    <div class="col-xs-3">
                        {% if all_steps_valid %}
                            <form method="post">
                                {% csrf_token %}
                                <p><button type="button" class="btn btn-success btn-block">{% trans "Place order" %}</button></p>
                            </form>
                        {% else %}
                            <p>{% trans "Before continuing please make sure that you've provided all of the information required." %}</p>
                        {% endif %}
                    </div>
                {# endwith #}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock forms %}

{% block footer_scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/order_details.js" %}"></script>
{% endblock footer_scripts %}
